.dashboard-container {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #1e1e1e;
  color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 188, 212, 0.1);
}

.dashboard-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #00bcd4;
}

.dashboard-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #cccccc;
}

.dashboard-info {
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
  color: #f0f0f0;
  display: inline-block;
  text-align: left;
}

.dashboard-info > div {
  margin-bottom: 12px;
}

.text-xl {
  font-size: 1.25rem;
}

.font-semibold {
  font-weight: 600;
}

.dashboard-info p {
  margin: 8px 0;
}

.credential {
  font-style: italic;
  color: #00bcd4;
}
